<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.4.6.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static',filename='jquery/jquery-3.7.1.min.js') }}"></script>
    <title>HALORADO - {% block title %}{% endblock %}</title> <!-- name tab  -->
    {% block head_details %}
    {% endblock %}
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light my-navbar-nav">
            <div class="container">
                <a class="navbar-brand halorado-name" href="/">HALORADO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-top" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"> Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pub_r">RECIPES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pub_r">PUBLISH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/qb">QUESTION BOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/halo">HALO ROBOT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-bottom" id="navbarSupportedContent2">
                <div class="ml-2">
                    <form class="form-inline my-2 my-lg-0" method="GET" action="#">
                        <input class="form-control mr-sm-2" type="search" placeholder="Key Word" aria-label="Search"
                            name="q">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                {% if user %}
                <div class="dropdown ml-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>{{ user.username }}</span>
                    </button>
                    <!-- logout-->
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <form method="POST" action="/logout">
                            <button class="dropdown-item" type="submit">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
                {% else %}
                <!-- login and register -->
                <div class="ml-3">
                    <a class="btn btn-secondary mr-2" href="/login">Login</a>
                    <a class="btn btn-success" href="/register">
                        Register
                    </a>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="bg-white border-b">
        <div class="container mx-auto px-4">
            <div class="flex overflow-x-auto py-3 hide-scrollbar tab-bar">
                <a href="/"
                    class="category-tab {{ 'active' if category_id==None else '' }} font-medium text-gray-900 whitespace-nowrap">All</a>
                {% for category in categories %}
                <a href="/?category={{ category.id }}"
                    class="category-tab font-medium text-gray-500 hover:text-gray-900 whitespace-nowrap {{ 'active' if category_id==category.id else '' }}">{{
                    category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3">
            © 2026 HALORADO. All rights reserved.
        </div>
    </footer>
</body>

</html>